TELEGRAM_TOKEN=8257901403:AAF-ggYv3hkB6N-L9UDq_dGoNt-dydKZlOM
MINER_BASE_URL=https://vbypbaf7.shirin.keenetic.pro
POLL_INTERVAL_SECONDS=30
REQUEST_TIMEOUT_SECONDS=10
ALERT_COOLDOWN_MINUTES=10
ALLOWED_CHAT_IDS=
